/* Plugin CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/monokai-sublime.min.css');

.modal-body img {
  max-width: 100%;
}

.header {
  z-index: 1031;
}

.offset-header {
  left: 280px !important;
}

.loader_title {
  top: 29%;
  position: absolute;
  margin-left: -290px;
  left: 50%;
  margin-bottom: 0;
  padding: 0;
}

.loader {
  position: absolute !important;
  left: 50%;
  margin-left: -30px;
  top: 45%
}

.loader .loader-star {
  position: static;
  width: 60px;
  height: 60px;
  transform: scale(0.7);
  -webkit-animation: loader-2-star 1s ease alternate infinite;
  animation: loader-2-star 1s ease alternate infinite;
}

.loader .loader-circles {
  width: 8px;
  height: 8px;
  background: #d3250c;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 4px);
  transition: all 1s ease;
  -webkit-animation: loader-2-circles 1s ease-in-out alternate infinite;
  animation: loader-2-circles 1s ease-in-out alternate infinite;
}

@-webkit-keyframes loader-2-circles {
  0% {
    box-shadow: 0 0 0 #d3250c;
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    box-shadow: 24px -22px #d3250c, 30px -15px 0 -3px #d3250c, 31px 0px #d3250c, 29px 9px 0 -3px #d3250c, 24px 23px #d3250c, 17px 30px 0 -3px #d3250c, 0px 33px #d3250c, -10px 28px 0 -3px #d3250c, -24px 22px #d3250c, -29px 14px 0 -3px #d3250c, -31px -3px #d3250c, -30px -11px 0 -3px #d3250c, -20px -25px #d3250c, -12px -30px 0 -3px #d3250c, 5px -29px #d3250c, 13px -25px 0 -3px #d3250c;
    transform: rotate(180deg);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg);
    box-shadow: 25px -22px #d3250c, 15px -22px 0 -3px black, 31px 2px #d3250c, 21px 2px 0 -3px black, 23px 25px #d3250c, 13px 25px 0 -3px black, 0px 33px #d3250c, -10px 33px 0 -3px black, -26px 24px #d3250c, -19px 17px 0 -3px black, -32px 0px #d3250c, -23px 0px 0 -3px black, -25px -23px #d3250c, -16px -23px 0 -3px black, 0px -31px #d3250c, -2px -23px 0 -3px black;
  }
}

@keyframes loader-2-circles {
  0% {
    box-shadow: 0 0 0 #d3250c;
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    box-shadow: 24px -22px #d3250c, 30px -15px 0 -3px #d3250c, 31px 0px #d3250c, 29px 9px 0 -3px #d3250c, 24px 23px #d3250c, 17px 30px 0 -3px #d3250c, 0px 33px #d3250c, -10px 28px 0 -3px #d3250c, -24px 22px #d3250c, -29px 14px 0 -3px #d3250c, -31px -3px #d3250c, -30px -11px 0 -3px #d3250c, -20px -25px #d3250c, -12px -30px 0 -3px #d3250c, 5px -29px #d3250c, 13px -25px 0 -3px #d3250c;
    transform: rotate(180deg);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg);
    box-shadow: 25px -22px #d3250c, 15px -22px 0 -3px black, 31px 2px #d3250c, 21px 2px 0 -3px black, 23px 25px #d3250c, 13px 25px 0 -3px black, 0px 33px #d3250c, -10px 33px 0 -3px black, -26px 24px #d3250c, -19px 17px 0 -3px black, -32px 0px #d3250c, -23px 0px 0 -3px black, -25px -23px #d3250c, -16px -23px 0 -3px black, 0px -31px #d3250c, -2px -23px 0 -3px black;
  }
}

@-webkit-keyframes loader-2-star {
  0% {
    transform: scale(0) rotate(0deg);
  }

  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

@keyframes loader-2-star {
  0% {
    transform: scale(0) rotate(0deg);
  }

  100% {
    transform: scale(0.7) rotate(360deg);
  }
}
